*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.block-ceneter{
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0 20px 0;
}
.button-post{
  text-align: right;
}
.form-submit{
  margin: 20px 0 20px 0;
}
.form-submit div{
  padding: 10px 0 10px 0;
}
.button-submit{
  text-align: right;
 }
h4{
  text-align: center;
}
.search-field{
  padding: 10px 0 30px 0;
}
.sort-block{
  padding-bottom: 20px;
}